@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;

  &__inner {
    position: relative;
  }

  &__images {
    img {
      overflow: hidden;
      border-radius: var(--radius-big);
    }
  }

  &__content {
    position: absolute;
    overflow: hidden;
    padding: 48px;
    top: 50%;
    border-radius: var(--radius-big);
    width: 100%;
    max-width: 484px;
    background-color: var(--color-brown-10);
    translate: 150% -50%;

    p {
      margin-bottom: 32px;
    }
  }

  h2 {
    margin-bottom: 32px;
  }
}
