@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;

  padding-bottom: 120px;

  &__inner {
    position: relative;
  }

  &__images {
    img {
      overflow: hidden;
      border-radius: var(--radius-big);
    }
  }

  &__content {
    position: absolute;
    overflow: hidden;
    padding: 48px;
    top: 59%;
    border-radius: var(--radius-big);
    width: 100%;
    max-width: 484px;
    background-color: var(--color-brown-10);
    translate: 151% -50%;

    p {
      margin-bottom: 31px;
    }
  }

  &--suits {
    padding-bottom: 190px;

    #{$root}__content {
      top: 64%;

      p {
        margin-bottom: 0;
      }
    }
  }

  &--guide {
    padding-bottom: 146px;

    #{$root}__content {
      top: 61%;
    }
  }

  h2 {
    margin-bottom: 28px;
  }

  .btn {
    padding: 16px 20px;
  }
}
