/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 2px solid transparent;
  border-radius: var(--radius-big);
  padding: 14px 18px;
  width: 100%;
  max-width: fit-content;
  font-family: inherit;
  font-size: 18px;
  font-weight: var(--fw-600);
  line-height: 1.21;
  color: var(--color-white);
  background-color: var(--color-brown-400);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border-color: var(--color-green-300);
    color: var(--color-green-300);
    background-color: var(--color-white);
  }

  &--request {
    color: var(--color-white) !important;
    background-color: var(--color-green-300);
    gap: 8px;

    &::before {
      @include bg-cover;

      position: relative;
      width: 21px;
      height: 24px;
      background-image: url("../images/icons/btn.svg");
    }

    &:hover,
    &:focus {
      color: var(--color-green-300) !important;
      background-color: var(--color-white);
    }
  }

  &--invert {
    border-color: var(--color-brown-400);
    color: var(--color-brown-400);
    background-color: transparent;
  }
}
